<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find growbot_simulations)/urdf/main.xacro" />

  <!-- Spawn Growbot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	      args="-unpause -urdf -model growbot -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />
</launch>
